body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #0c0007;
  color: #dadada;

  font-family: 'Segoe UI', sans-serif;
}

.conteudo {
  padding: 1%;
  gap: 10px;
  display: grid;
  place-items: center;
}

.container-imagem {  
  background-color: #d8d7d7;
}

.grid-palavra {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  place-items: center;
  gap: 5px;
}

.grid-palavra>p {
  padding: 8px 15px;

  border: 2px solid #00ff3c;
  border-radius: 10px;

  font-size: 17px;
  font-weight: 600;
}

.grid-teclado {
  display: grid;
  grid-template-columns: repeat(10, 35px);
  gap: 2.2px;
}

button {
  height: 35px;

  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  font-weight: 800;
}

.btn-enter {
  grid-column: 3 span;
}

.disabled {
  pointer-events: none;
  /* Impede que eventos passem pela div */
  opacity: 0.5;
  /* Torna o conteúdo menos visível */
  /* Outros estilos que você queira aplicar */
}

.display-none{
  display: none !important;
}